table {
   border-collapse: collapse;
   margin: 0 auto;
   width: 75%;
}

table,
td {
   border: 2px solid rebeccapurple;
   padding: 10px 0;
}

th {
   border: 2px solid rebeccapurple;
   padding: 10px 0;
}

img {
   margin: 5px;
}
